{{ define "index" }}
{{ template "index.html" . }}
<h1>{{ .SiteTitle }}</h1>
<hr/>
<div class="container-lg">
    <div class="row">
        <ul class="nav flex-column col-2">
            <li class="nav-item"><a class="nav-link" href="#"><h3>about</h3></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><h3>cv</h3></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><h3>projects</h3></a></li>
            <li class="nav-item"><a class="nav-link" href="/posts"><h3>blog</h3></a></li>
        </ul>
        <div class="col">This is where the content will go</div>
    </div>
</div>
{{ end }}