{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
<div class="container py-4 px-3 mx-auto">
    <a class="nav-link" href="/"><h1>{{ .SiteTitle }}</h1></a>
<hr/>
<div class="container-lg">
    <div class="row">
        <ul class="nav flex-column col-2 pt-2 text-end">
            <li class="nav-item"><a class="nav-link" href="/about"><h3>about</h3></a></li>
            <li class="nav-item"><a class="nav-link" href="/cv"><h3>cv</h3></a></li>
            <li class="nav-item"><a class="nav-link" href="/projects"><h3>projects</h3></a></li>
            <li class="nav-item"><a class="nav-link" href="/blog"><h3>blog</h3></a></li>
        </ul>
        <div class="col-md-8 pt-3 ps-5">{{ template "content" . }}</div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>
{{ end }}